/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"aboutus"
		"admission"
		"whattosee"
		"virtualmuseum"
		"programs"
		"education"
		"footer";

		width: 100vw;
}

.header {
	grid-area: header;
	display: grid;
		grid-template-columns: 80px 400px;
		grid-template-areas:
		"imgg1 DMM";

		.img {
			grid-area: imgg1;
		}
		.DMM {
			grid-area: DMM;
		}
}


.hero {
    grid-area: hero;

	#detailhero {
		margin: 400px 0px 0px 0px;
		padding: 10px;
		text-align: left;
		position: absolute; 
	}

	ul {
		display: grid;
	}

	li {
		display: grid;
		grid-template-rows: repeat(3, 165px);

		grid-column: 1 / 1;
		grid-row: 3 / 4;
		
	}
}


.aboutus {
    grid-area: aboutus;

    ul {
        display: grid;
    }

	li {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}

    @include md{
        ul {
            grid-template-columns:repeat(8, 1fr);
            grid-template-rows: 450px 200px;

			li {
				grid-column: 2 / 8;
			}

			.logos {
				display: flex;
			}
        }
	
    }
    
	@include lg{
		ul {
            grid-template-rows: 450px 200px;

			.logos {
				display: flex;
			}
        }
    }
  }

.admission {
	grid-area: admission;

	.admission {
		display: flex;
		justify-content: center;
	}
}

.whattosee {
	grid-area: whattosee;

	ul {
		display: grid;
	}	
		@include md {
			ul {
				grid-template-columns: repeat(2,200px);
				grid-gap: 30px;
				justify-content: center;
				grid-template-areas:
				"wts1 wts1 wts2 wts2"
				"wts3 wts3 wts4 wts4"
				"wts5 wts5 wts6 wts6";
			}

			#wts1 {
				grid-area: wts1;
			}

			#wts2 {
				grid-area: wts2;
			}
			
			#wts3 {
				grid-area: wts3;
			}

			#wts4 {
				grid-area: wts4;
			}

			#wts5 {
				grid-area: wts5;
			}

			#wts6 {
				grid-area: wts6;
			}
		}
	
		@include lg {
			ul {
				grid-template-columns: 450px 450px;
				grid-template-areas:
				"wts1 wts2"
				"wts3 wts4"
				"wts5 wts6";
			}
					
		}

		@include xl {
			ul {
				grid-template-columns: 450px 450px 450px;
				grid-template-areas:
				"wts1 wts3 wts5"
				"wts2 wts4 wts6";

				}
			}
					
		}





.virtualmuseum {
	grid-area: virtualmuseum;

	#textvm {
		margin: 50px 50px 24px 100px;
		padding: 20px;
		text-align: center;
		vertical-align: middle;
		position: absolute; 
	}

	@include md{
		#textvm {
			margin: 100px 100px 24px 400px;
			padding: 20px;
			text-align: center;
			vertical-align: middle;
			position: absolute; 
		}
	}

	
}

.programs {
	grid-area: programs;
	padding: 20px;

	.button {
		display: grid;
		grid-template-columns: 400px 400px 400px;
		grid-template-areas:
		". button .";

		.button {
			grid-area: imgg1;
		}
	}

	ul {
		display: grid;
		
	}
	
		
		@include md {
			ul {
				grid-gap: 10px;
				justify-content: center;
				grid-template-columns: repeat(7, 150px);
				grid-template-rows: repeat(6, 107px);
				grid-template-areas:
				"pro2 protext1" 
				 "protext2 pro3";
			}

			#protext1 {
				grid-area: protext1;
				grid-column: 5 / 5;
				grid-row: 2 / 2;

			}
			#protext2 {
				grid-area: protext2;
				grid-column: 2 / 2;
				grid-row: 5 / 5;

			}

			#pro2 {
				grid-area: pro2;
				padding-left: 15px;
			}
			
			#pro3 {
				grid-area: pro3;
				grid-column: 4 / 4;
				grid-row: 4 / 7;
				padding-left: 15px;
			}

			
		}
	
		@include lg {
			ul {
				justify-content: center;
				grid-template-columns: repeat(3, 450px);
				grid-template-rows: 350px;
				grid-template-areas:
				"pro2 pro3" 
				 "protext1 protext2";
				
			}

			#pro1 {
				grid-area: protext1;
				grid-column: 1 / 2;
				grid-row: 1 / 1;
				padding-left: 50px;
				
			}

			#protext1 {
				grid-area: protext1;
				grid-column: 2 / 3;
				grid-row: 4 / 4;
				padding-left: 50px;
			}
			#protext2 {
				grid-area: protext2;
				grid-column: 3 / 4;
				grid-row: 4 / 4;
			}

			#pro2 {
				grid-area: pro2;
				grid-column: 2 / 3;
				grid-row: 1 / 1;
				padding-left: 30px;
				
			}
			
			#pro3 {
				grid-area: pro3;
				grid-column: 3 / 4;
				grid-row: 1 / 1;
				padding-right: 30px;
			
			}

					
		}

}

.education {
	grid-area: education;

	ul {
		display: grid;

	}

	.ed3 {
		display: flex;
		justify-content: center;
	}

		@include md {
			ul {
	 			grid-template-columns: 400px 400px 400px;
				grid-gap: 20px;
				justify-content: center;

				.ed1 {
					display: flex;
					justify-content: center;
				}

				.ed2 {
					display: flex;
					justify-content: center;
				}
				.ed3 {
					display: flex;
					justify-content: center;
				}
			}
		}


		@include lg {
			ul {
				grid-template-columns: 400px 400px 400px;
				grid-gap: 30px;
				justify-content: center;
			}

		}
	
		@include xl {
			ul {
				grid-template-columns: 400px 400px 400px;
				grid-gap: 30px;
				justify-content: center;
			}
					
		}
	
}

.footer {
	grid-area: footer;
	text-align: center;

	.place {
        section ul li {
          display: grid;
          grid-template-columns: 20px 200px;
		  grid-template-areas: 
		  "contact"
		  "socials"
		  "museum";
        }
      }
      
      .socials ul {
        display: grid;
      }


      @include md {
        display: flex;
		
	
		       }
        
}
