/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"aboutus"
		"admission"
		"whattosee"
		"virtualmuseum"
		"programs"
		"education"
		"footer";
}

.header {
	grid-area: header;
}

.hero {
    grid-area: hero;

    ul {
      display: grid;
    }
}


.aboutus {
    grid-area: aboutus;

    ul {
        display: grid;
    }

	li {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

    @include md{
        ul {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 500px 500px;

			li {
				grid-column: span 4;
			}

			.logos {
				display: flex;
			}
        }
	
    }
    
	@include lg{
		ul {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 500px 500px;

			li {
				grid-column: span 4;
			}

			.logos {
				display: flex;
			}
        }
    }
  }

.admission {
	grid-area: admission;
}

.whattosee {
	grid-area: whattosee;

	ul {
		display: grid;
	}
		
		@include md {
			ul {
				grid-template-columns: repeat(2,200px);
				grid-gap: 30px;
				justify-content: center;
				grid-template-areas:
				"imgg1 imgg1 imgg2 imgg2"
				"imgg3 imgg3 imgg4 imgg4"
				"imgg5 imgg5 imgg6 imgg6";
			}

			#imgg1 {
				grid-area: imgg1;
			}

			#imgg2 {
				grid-area: imgg2;
			}
			
			#imgg3 {
				grid-area: imgg3;
			}

			#imgg4 {
				grid-area: imgg4;
			}

			#imgg5 {
				grid-area: imgg5;
			}

			#imgg6 {
				grid-area: imgg6;
			}
		}
	
		@include lg {
			ul {
				grid-template-columns: 450px 450px;
				grid-template-areas:
				"imgg1 imgg2"
				"imgg3 imgg4"
				"imgg5 imgg6";
			}
					
		}

		@include xl {
			ul {
				grid-template-columns: 450px 450px 450px;
				grid-template-areas:
				"imgg1 imgg3 imgg5"
				"imgg2 imgg4 imgg6";
			}
					
		}

}

.virtualmuseum {
	grid-area: virtualmuseum;
}

.programs {
	grid-area: programs;

	ul {
		display: grid;
	}
		
		@include md {
			ul {
				grid-template-columns: repeat(3,200px);
				grid-gap: 30px;
				justify-content: center;
				grid-template-areas:
				"imgg1 imgg1 imgg2 imgg2 imgg3 imgg3";
			}

			#imgg1 {
				grid-area: imgg1;
			}

			#imgg2 {
				grid-area: imgg2;
			}
			
			#imgg3 {
				grid-area: imgg3;
			}
		}
	
		@include lg {
			ul {
				grid-template-columns: repeat(3,200px);
				grid-template-areas:
				"imgg1 imgg1 imgg2 imgg2 imgg3 imgg3";
			}
					
		}

}

.education {
	grid-area: education;

	ul {
		display: grid;

	}

		@include md {
			ul {
	 			grid-template-columns: 400px 400px 400px;
				grid-gap: 20px;
				justify-content: center;
			}
		}


		@include lg {
			ul {
				grid-template-columns: 400px 400px 400px;
				grid-gap: 30px;
				justify-content: center;
			}

		}
	
		@include xl {
			ul {
				grid-template-columns: 400px 400px 400px;
				grid-gap: 30px;
				justify-content: center;
			}
					
		}
	
}

.footer {
	grid-area: footer;

	.socials ul {
		display: flex;
	}

	.place {
        section ul li {
          display: grid;
          grid-template-columns: 20px 200px;
		  grid-template-areas: 
		  "contact"
		  "socials"
		  "place";
        }
      }
      
      .socials ul {
        display: flex;
      }


      @include md {
        display: grid;
       grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "place place contact socials";
          
          .locations {
            grid-area: place;
          }
        
          .newsletter {
            grid-area: contact;
          }
        
          .socials {
            grid-area: socials;
          }
       }
        
        @include lg {
          grid-template-areas:
          "place contact socials";
        }
}
