/* =============
    education
============= */
.education-image {
	background-size: cover;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
	height: 300px;
    width: 350px;
	padding: 20px;

}

.ed1 {
    display: none;
}
.ed2 {
    display: none;
}

#imgg1 {
    .education-image {
        background: url("/deploy/img/schoolbus.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        display: none;
    
    }
}

#imgg2 {
    .education-image {
        background: url("/../../../deploy/img/bus.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        display: none;
       
    }
}

#imgg3 {
    .education-image {
        background: url("/../../../deploy/img/pencil.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@include md {
    #imgg1 {
        .education-image {
            background: url("/deploy/img/schoolbus.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            display: block;
        
        }
    }
    
    #imgg2 {
        .education-image {
            background: url("/../../../deploy/img/bus.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            display: block;
           
        }
    }

    .ed1 {
        display: block;
    }
    .ed2 {
        display: block;
    }
}

