/* =============
    education
============= */
.education-image {
	background-size: cover;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
	height: 300px;
	padding: 20px;
}

#imgg1 {
    .education-image {
        background: url("/deploy/img/schoolbus.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
}

#imgg2 {
    .education-image {
        background: url("/../../../deploy/img/bus.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
}

#imgg3 {
    .education-image {
        background: url("/../../../deploy/img/pencil.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
}
