.hero{
    background: url("../../../deploy/img/Herojets.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100vw;
    

    ul{
        li{
         display: grid;
           
         a{
             grid-area: hero;
            }
        }
     }

     h1{
        color: $lightopenskyblue;
        padding: 20px;
    }
}

