/* =============
    programs
============= */
.programs-image {
	background-size: cover;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
	height: 300px;
	padding: 20px;
}

#pro1 {
    .programs-image {
        background: url("../../../deploy/img/oldhouse.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        
    }
}

#protext1 {
    display: none;
}
#protext2 {
    display: none;
}

#pro2 {
    display: none;
    .programs-image {
        background: url("../../../deploy/img/pearlharbor.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
}

#pro3 {
    display: none;
    .programs-image {
        background: url("../../../deploy/img/vietnam.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
}

button {
    background: $royalred;
    border: none;
    padding: 5px;
    margin: 20px auto;
    width: 400px;
}

@include md {
   
    #protext1 {
        display: block;
    }
    #protext2 {
        display: block;
    }
    #pro1 {
        display: none;
        .programs-image {
            background: url("../../../deploy/img/oldhouse.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            
        }
    }
    
    #pro2 {
        display: block;
        .programs-image {
            background: url("../../../deploy/img/pearlharbor.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            width: 400px;
        }
    }
    
    #pro3 {
        display: block;
        .programs-image {
            background: url("../../../deploy/img/vietnam.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            width: 400px;
        }
    }
}

@include lg {
    #pro1 {
         display: block;
        .programs-image {
            background: url("../../../deploy/img/oldhouse.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            width: 35v0px;
            
        }
    }
    
    #pro2 {
         display: block;
        .programs-image {
            background: url("../../../deploy/img/pearlharbor.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            width: 350px;
        }
    }
    
    #pro3 {
         display: block;
        .programs-image {
            background: url("../../../deploy/img/vietnam.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            width: 350px;


        }
    }
}

