/* =============
    whattosee
============= */
.whattosee-image {
	background-size: cover;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
	width: 380px;
	height: 200px;
	padding: 20px;
}

.new-content {
	h2 {
		color: $lightopenskyblue;
		background-color: $royalred;
		width: 418px;
	}
}

#wts1 {
	.whattosee-image {
		background: url("../../../deploy/img/redcoats1.jpg") no-repeat;
		background-size: cover;
		background-position: center;
	}
}

#wts2 {
	display: none;
	.whattosee-image {
		background: url("../../../deploy/img/iwojima.jpg") no-repeat;
		background-size: cover;
		background-position: center;
	}
}

#wts3 {
	.whattosee-image {
		background: url("../../../deploy/img/redcoats2.jpg") no-repeat;
		background-size: cover;
		background-position: center;
	}
}

#wts4 {
	display: none;
	.whattosee-image {
		background: url("../../../deploy/img/civilwar.jpg") no-repeat;
		background-size: cover;
	
	}
}

#wts5 {
	.whattosee-image {
		background: url("../../../deploy/img/soldiersrun.jpg") no-repeat;
		background-size: cover;
	}
}

#wts6 {
	display: none;
	.whattosee-image {
		background: url("../../../deploy/img/blueplane.jpg") no-repeat;
		background-size: cover;
	}	
}

@include md{
	#wts2 {
		display: block;
		.whattosee-image {
			background: url("../../../deploy/img/iwojima.jpg") no-repeat;
			background-size: cover;
			background-position: center;
		}
	}
	#wts4 {
		display: block;
		.whattosee-image {
			background: url("../../../deploy/img/civilwar.jpg") no-repeat;
			background-size: cover;
		
		}
	}
	#wts6 {
		display: block;
		.whattosee-image {
			background: url("../../../deploy/img/blueplane.jpg") no-repeat;
			background-size: cover;
			background-position: center;
		}	
	}

}

