/* =============
    whattosee
============= */
.whattosee-image {
	background-size: cover;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
	height: 200px;
	padding: 20px;
}

.new-content {
	h2 {
		color: $lightopenskyblue;
		background-color: $royalred;
	}
}

#wts1 {
	.whattosee-image {
		background: url("../../../deploy/img/redcoats1.jpg") no-repeat;
		background-size: cover;
		background-position: center;
	}
}

#wts2 {
	.whattosee-image {
		background: url("../../../deploy/img/iwojima.jpg") no-repeat;
		background-size: cover;
		background-position: center;
	}
}

#wts3 {
	.whattosee-image {
		background: url("../../../deploy/img/redcoats2.jpg") no-repeat;
		background-size: cover;
		background-position: center;
	}
}

#wts4 {
	.whattosee-image {
		background: url("../../../deploy/img/civilwar.jpg") no-repeat;
		background-size: cover;
	}
}

#wts5 {
	.whattosee-image {
		background: url("../../../deploy/img/soldiersrun.jpg") no-repeat;
		background-size: cover;
	}
}

#wts6 {
	.whattosee-image {
		background: url("../../../deploy/img/blueplane.jpg") no-repeat;
		background-size: cover;
	}	
}


