/* =============
    Footer
============= */
.footer {
	background-color: $delawareblue;
	height: 300px;


	h1,h2,h3,h4,h5,h6{
		color: $lightopenskyblue;
	}
	
	.social-icon a {
		color: white;
		padding: 0 5px 0 0;
	}

}
