/* =============
    Footer
============= */
.footer {
	background-color: $delawareblue;
	height: 300px;


	h1,h2,h3,h4,h5,h6{
		color: $lightopenskyblue;
	}
	
	.social-icon a {
		color: white;
		padding: 0 5px 0 0;
	}
}

.socials {
	background: url("../../../deploy/img/instagram-square-brands\ copy.png");
	background: url("../../../deploy/img/twitter-square-brands\ copy.png");
	background: url("../../../deploy/img/youtube-square-brands\ copy.png");
	background: url("../../../deploy/img/facebook-square-brands\ copy.png");
}

