/* =============
    Navigation
============= */
#nav-container {
    
        background-color: $delawareblue;
        display: none;
        width: 100vw;
        position: fixed;
        top: 79px;
        .nav-btns {
            display: inline-block;
            text-decoration: none;
            margin: 0 auto;
            color: white;
            width: 100%;
        }
        

        @include md {
            align-items: center;
            display: flex;
            justify-content: left;
        }
            @include lg {
                align-items: center;
                display: flex;
                justify-content: left;
            }

            a:link,
            a:visited {
                color: $white;
                font-family: 'questrial';
                padding: 0 20px;
                text-decoration: none;
                transition: 0.25s;
                @include lg {
                    margin: 10px;
                    color: $lightopenskyblue;
                }

                &:hover,
                &:active {
                    color: $royalred;
                }
            }

        li:last-child {
            border: none;
        }
}